<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
	tags = []
//	function addMedication(){
//		iteration = iteration + 1;
//		form_contianer = document.getElementById("form-container");
//		parent_div = document.createElement("div");
//		
//		medication_field = document.createElement("input");
//		medication_field.setAttribute("type", "text");
//		medication_field.setAttribute("class", "medication-field");
//		
//		dosage_field = document.createElement("input");
//		dosage_field.setAttribute("type", "text");
//		dosage_field.setAttribute("class", "dosage-field");
//		
//		time_field = document.createElement("input");
//		time_field.setAttribute("type", "text");
//		time_field.setAttribute("id", "time-field"+iteration);
//		time_field.setAttribute("onKeyUp", "commaSeparation(event)")
//		
//		tag_div = document.createElement("div");
//		tag_div.setAttribute("id", "tag_div"+iteration);
//		
//		parent_div.appendChild(medication_field);
//		parent_div.appendChild(dosage_field);
//		parent_div.appendChild(time_field);
//		parent_div.appendChild(tag_div);
//		form_contianer.appendChild(parent_div);
//	}
	
	function commaSeparation(event){
		var input_field = document.getElementById(event.target.id);
		var input_string = input_field.value;
		var last_char = input_string.charAt(input_string.length-1);
		
		if (last_char==","){
			var tag_text = input_string.slice(0, input_string.length-1);
			tags.push(tag_text);
			addTag(tag_text);
			input_field.value = '';
			window.alert(tags);
		}
		return
	}
	
	function deleteTag(event){
		var button_id = event.target.id;
		//window.alert(button_id);
		const index = tags.indexOf(button_id);
		if (index !== -1){
			tags.splice(index, 1);
		}
		var element = document.getElementById(button_id);
		var parent = document.getElementById(event.target.parentNode.id);
		parent.removeChild(element);
	}
	
	function addTag(tag_text){
		parent = document.getElementById("tag_div");
		new_button = document.createElement("button");
		new_button.innerHTML = tag_text;
		new_button.setAttribute("id", tag_text);
		new_button.setAttribute("class", "btn");
		new_button.setAttribute("onClick", "deleteTag(event)");
		parent.appendChild(new_button);
	}
	
	function submit(){
		medication_elmnt = document.getElementById("medication-field");
		dosage_elmnt = document.getElementById("dosage-field");
		slot_elmnt = document.getElementById("slot-field")
		medication = medication_elmnt.value;
		dosage = dosage_elmnt.value;
		slot = slot_elmnt.value;
		$.ajax({
			type: "POST",
			url: "/doctor",
			data: {tags: tags.toString(), medication:medication, dosage:dosage, slot:slot},
			success: function(result){
				window.location.href = '/success';
			}
		});
	}
</script>

<style>
	body{
		font-family: "Helvetica Neue";
	}
	
	.btn{
		color: white;
		border: solid 1px;
		padding: 10px 40px;
		background-color: red;
		font-size: 20px;
	}
	
	.btn:focus{
		outline: none;
	}
</style>
</head>

<body>
	<h1>John Doe</h1>
	<div id="form-container">
		<h2>Enter the medication</h2>
		<input type="text" id="medication-field" placeholder="E.g. paracetamol">
		<h2>Enter the dosage (number of pills to be taken)</h2>
		<input type="text" id="dosage-field" placeholder="E.g. 3">
		<h2>Which section of pill box?</h2>
		<p>(enter the slot number)</p>
		<input type="text" id="slot-field" placeholder="E.g. 1">
		<h2>Enter the times of the day it is to be taken</h2>
		<p>(press comma in between each time slot)</p>		
		<input type="text" id="time-field" onKeyUp="commaSeparation(event)">
		<div id="tag_div">
		</div>
		<button id="submit" name="submit" class="btn" onClick="submit()">Submit</button>
	</div>
</body>
</html>
